.app {
    background-image: url('PlanetSat0rn.github.io/img/other/BlockedWorkshopBG.PNG');
    background-size: cover;
}

#voice-connection,
#friends,
.friends-header,
.friends-table,
.guilds-wrapper,
.guild-header header,
.channels-wrap,
.private-channels .search-bar,
.private-channels,
.guild-channels,
.account,
.friend-table-add-header,
.chat,
.content,
.layers,
.title-wrap:not(.search-bar),
.messages-wrapper,
.messages .divider span,
.messages .divider:before,
.content,
.message-group-blocked,
.is-local-bot-message,
.channel-members-loading,
.channel-members-loading .heading,
.channel-members-loading .member,
.typing {
    background: transparent !important;
}
